/* Estilo para o fundo da tela de login */
.login-background {
    background-image: url('https://i.imgur.com/Gjeg4Zq.jpeg'); /* Substitua pela URL da sua imagem */
    background-size: cover;
    background-position: center;
    background-attachment: fixed; /* Deixa a imagem fixa enquanto rola a página */
  }

  
.force-div-centralization{
  padding-left: 120px;
  margin-left: 0;
}  

.box-size{
  /* max-width: 350px !important; */
  margin: auto;
}